<?xml version="1.0"?>
<ruleset name="PHPMD Standard Ruleset"
         xmlns="https://phpmd.org/xml/ruleset/1.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://phpmd.org/xml/ruleset/1.0.0 http://phpmd.org/xml/ruleset_xml_schema_1.0.0.xsd"
         xsi:noNamespaceSchemaLocation="https://phpmd.org/xml/ruleset_xml_schema_1.0.0.xsd">

    <description>PHPMD Standard Ruleset</description>

    <rule ref="rulesets/codesize.xml">
        <!-- refine -->
        <exclude name="CyclomaticComplexity"/>
        <!-- refine -->
        <exclude name="TooManyPublicMethods"/>
    </rule>
    <rule ref="rulesets/cleancode.xml">
        <!-- too strict -->
        <exclude name="MissingImport"/>
        <exclude name="BooleanArgumentFlag"/>
        <exclude name="ElseExpression"/>
        <exclude name="StaticAccess"/>
    </rule>
    <rule ref="rulesets/controversial.xml">
        <!-- too strict -->
        <exclude name="CamelCaseMethodName"/>
    </rule>
    <rule ref="rulesets/design.xml">
        <exclude name="CouplingBetweenObjects"/>
    </rule>
    <rule ref="rulesets/naming.xml">
        <!-- refine -->
        <exclude name="LongClassName"/>
        <exclude name="LongVariable"/>
    </rule>
    <rule ref="rulesets/unusedcode.xml"/>

    <rule ref="rulesets/codesize.xml/CyclomaticComplexity">
        <!-- refine -->
        <priority>1</priority>
        <properties>
            <property name="reportLevel" value="20"/>
        </properties>
    </rule>
    <rule ref="rulesets/codesize.xml/TooManyPublicMethods">
        <!-- refine -->
        <priority>1</priority>
        <properties>
            <property name="maxmethods" value="25"/>
        </properties>
    </rule>
    <rule ref="rulesets/cleancode.xml/MissingImport">
        <!-- refine -->
        <priority>1</priority>
        <properties>
            <property name="ignore-global" value="true"/>
        </properties>
    </rule>
    <rule ref="rulesets/design.xml/CouplingBetweenObjects">
        <!-- refine -->
        <priority>1</priority>
        <properties>
            <property name="maximum" value="30"/>
        </properties>
    </rule>
    <rule ref="rulesets/naming.xml/LongClassName">
        <!-- refine -->
        <priority>1</priority>
        <properties>
            <property name="maximum" value="60"/>
            <property name="subtract-prefixes" value="Abstract"/>
            <property name="subtract-suffixes" value="Clazz,Trait,Test"/>
        </properties>
    </rule>
    <rule ref="rulesets/naming.xml/LongVariable">
        <!-- refine -->
        <priority>1</priority>
        <properties>
            <property name="maximum" value="40"/>
        </properties>
    </rule>

</ruleset>