parameters:
    level: 8

    parallel:
        jobSize: 10
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 4

    paths:
        - src/
        - tests/

    checkStrictPrintfPlaceholderTypes: false

    strictRules:
        # Too strict -> disabled
        disallowedEmpty: false
        disallowedLooseComparison: false

    ignoreErrors:
        # Too strict -> disabled

        # Custom

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon